<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        th:fragment="header"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-dark navbar-dark">

    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <p class="navbar-brand mx-3 h4" aria-label="Bootstrap">Planning Poker</p>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-light" th:text="#{label.home}">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-light" th:text="#{label.features}">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-light" th:text="#{label.pricing}">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-light" th:text="#{label.faqs}">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-light" th:text="#{label.about}">About</a></li>

        <!-- Language link -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="dropdownMenuButton" role="button" data-mdb-toggle="dropdown" aria-expanded="false" th:text="#{label.select.language}">
                Select Language
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="?lang=en" th:text="#{messages.templates.header.lang.eng}">EN</a></li>
                <li><a class="dropdown-item" href="?lang=swe" th:text="#{messages.templates.header.lang.swe}">SWE</a></li>
                <li><a class="dropdown-item" href="?lang=uk" th:text="#{messages.templates.header.lang.uk}">UK</a></li>
            </ul>
        </li>
    </ul>

    <div class="col-md-3 text-end" sec:authorize="isAnonymous()">
        <a href="/login" class="btn btn-outline-light me-2" th:text="#{label.login}">Login</a>
        <a href="/register/user" class="btn btn-light me-2" th:text="#{label.sing.up}">Sign-up</a>
    </div>

    <div class="col-md-3 text-end" sec:authorize="isAuthenticated()">
        <a href="/profile" class="btn btn-outline-light me-2" style="display: inline-block;" th:text="#{label.profile}">Profile</a>
        <form th:action="@{/logout}" method="post" style="display: inline-block;">
            <button type="submit" class="btn btn-outline-light me-2" th:text="#{label.logout}">Logout</button>
        </form>
    </div>

    <!-- MDBootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css">
</header>