<form xmlns:th="http://www.thymeleaf.org"
      th:action="@{/register/user}"
      method="post"
      th:object="${user}"
      style="width: 22rem;"
      th:fragment="reg-user-form">

    <!-- First Name -->
    <div class="form-outline mb-4" data-mdb-input-init>
        <div class="form-outline">
            <input type="text" id="firstName" th:field="*{firstName}" class="form-control form-control-lg text-light" data-mdb-showcounter="true" maxlength="50" required />
            <label class="form-label text-white" for="firstName" th:text="#{label.firstname}">First Name</label>
            <div class="form-helper"></div>
        </div>
        <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
    </div>

    <!-- Last Name -->
    <div class="form-outline mb-4">
        <div class="form-outline">
            <input type="text" id="lastName" th:field="*{lastName}" class="form-control form-control-lg text-light" data-mdb-showcounter="true" maxlength="50" required />
            <label class="form-label text-white" for="lastName" th:text="#{label.lastname}">Surname</label>
            <div class="form-helper"></div>
        </div>
        <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
    </div>

    <!-- Nickname -->
    <div class="mb-4">
        <div class="form-outline">
            <input type="text" id="nickname" th:field="*{nickname}" class="form-control form-control-lg text-light" data-mdb-showcounter="true" maxlength="100" required />
            <label class="form-label text-white" for="nickname" th:text="#{label.nickname}">Nickname</label>
            <div class="form-helper"></div>
        </div>
        <small class="text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></small>
    </div>

    <!-- Email -->
    <div class="mb-4">
        <div class="form-outline">
            <input type="email" id="email" th:field="*{email}" class="form-control form-control-lg text-light" required />
            <label class="form-label text-white" for="email" th:text="#{label.email}">Email</label>
        </div>
        <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
    </div>

    <!-- Password -->
    <div class="mb-5">
        <div class="form-outline">
            <input type="password" id="password" th:field="*{password}" class="form-control form-control-lg text-light" required />
            <label class="form-label text-white" for="password" th:text="#{label.password}">Password</label>
            <div class="form-helper" th:text="#{label.password.rules}"></div>
        </div>
    </div>
    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" th:text="#{label.register}">Register</button>

    <!-- Already registered -->
    <div class="text-center text-white">
        <p>
            <span th:text="#{label.already.member}">Already a member?</span>
            <a href="/login" class="text-info" th:text="#{label.login}">Login</a>
        </p>
    </div>
</form>
