<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{label.change.password}">Change Password</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-dark text-white">
<div th:replace="~{layouts/header :: header}"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-white" style="background-color: #212529;">

                <div th:if="${successMessage}" class="alert alert-success">
                    <span th:text="#{label.password.changed.successful}">Password updated successfully!</span>
                </div>
                <div th:if="${errorMessage}" class="alert alert-danger">
                    <span th:text="#{label.password.changed.failed}">Failed to update password. Please try again.</span>
                </div>

                <div class="card-header bg-primary">
                    <h3 class="text-white" th:text="#{label.change.password}">Change Password</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/profile/change/password}" method="post" th:object="${requestChangePassword}">
                        <input type="hidden" name="userId" th:value="${userId}">

                        <!-- Password -->
                        <div class="mb-3">
                            <label for="password" class="form-label text-white h5" th:text="#{label.password}">Password</label>
                            <input type="password" id="password" th:field="*{password}" class="form-control bg-dark text-white" required>
                            <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                        </div>

                        <!-- Confirm Password -->
                        <div class="mb-3">
                            <label for="passwordConfirm" class="form-label text-white h5" th:text="#{label.confirm.password}">Confirm Password</label>
                            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" class="form-control bg-dark text-white" required>
                            <small class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></small>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success" th:text="#{label.done}">Save</button>
                            <a href="/profile" class="btn btn-danger" th:text="#{label.step.back}">Cancel</a>
                        </div>

                        <ul class="text-danger" th:if="${#fields.errors('*').size() > 0}">
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layouts/include-js :: include-js}"></div>
</body>
</html>
