<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{error.internal.server.message}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body class="bg-dark navbar-dark">
<div th:replace="~{layouts/header :: header}"></div>

<div class="container text-center mt-5 text-light">
    <img th:src="@{/images/error-image.webp}" alt="Error Image" class="img-fluid my-4">
    <h1 th:text="#{error.internal.server.message}"></h1>
    <p th:text="#{error.internal.server.description}"></p>
    <a href="/" class="btn btn-primary" th:text="#{label.home}">Go Home</a>
</div>
</body>
</html>
