<form xmlns:th="http://www.thymeleaf.org" th:fragment="login-form" style="width: 22rem" th:action="@{/login}" method="post">

    <div id="error" th:data-error="${error}" style="display: none;"></div>
    <div id="alert-message" th:text="#{label.unsuccessful.login.message}" style="display: none;"></div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="text" id="email" name="username" class="form-control form-control-lg text-light">
        <label class="form-label text-white" for="email" th:text="#{label.email}">Email</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control form-control-lg text-light"/>
        <label class="form-label text-white" for="password" th:text="#{label.password}">Password</label>
    </div>


    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input bg-dark border-1" type="checkbox" value="" id="checkbox" checked />
                <label class="form-check-label text-white" for="checkbox" style="font-size: 0.9rem;" th:text="#{label.remember.me}"> Remember me </label>
            </div>
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!" class="text-info" style="font-size: 0.9rem;" th:text="#{label.forgot.password}">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" style="width: 100%; padding: 10px; font-size: 1rem;" th:text="#{label.login}">Login</button>

    <!-- Register buttons -->
    <div class="text-center">
        <span class="text-white" style="font-size: 0.9rem;" th:text="#{label.not.member}">Not a member?</span>
            <a href="/register/user" class="text-info" th:text="#{label.register}">Register</a>
    </div>
</form>
