<form xmlns:th="http://www.thymeleaf.org"
      th:action="@{/room/create}"
      method="post"
      th:object="${room}"
      style="width: 22rem;"
      th:fragment="reg-room-form">

    <input type="hidden" id="invitedUsers" th:field="*{invitedUsers}" />
    <input type="hidden" id="voteDurationHidden" th:field="*{voteDuration}" />
    <input type="hidden" id="storiesInput" th:field="*{stories}" />

    <!-- Room Name -->
    <div class="mb-4">
        <div class="form-outline">
            <input type="text" id="firstName" th:field="*{roomName}" class="form-control form-control-lg text-light" data-mdb-showcounter="true" maxlength="100" required />
            <label class="form-label text-white" for="firstName" th:text="#{label.room.name}">Room Name</label>
            <div class="form-helper"></div>
        </div>
        <small class="text-danger" th:if="${#fields.hasErrors('roomName')}" th:errors="*{roomName}"></small>
    </div>

    <!-- Start Date -->
    <div class="mb-4">
        <div class="form-outline datepicker">
            <input type="date" id="startDate" th:field="*{startDate}" class="form-control form-control-lg text-light" required />
            <label class="form-label text-white" for="startDate" th:text="#{label.start.date}">Start Date</label>
        </div>
        <small class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></small>
    </div>

    <!-- Start Time -->
    <div class="mb-4">
        <div class="form-outline ">
            <input type="time" id="startTime" th:field="*{startTime}" class="form-control form-control-lg text-light" required />
            <label class="form-label text-white" for="startTime" th:text="#{label.start.time}">Start Time</label>
        </div>
        <small class="text-danger" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></small>
    </div>

    <!-- Button Group -->
    <div class="btn-group mb-4 w-100">
        <!-- Add Stories Button -->
        <button type="button" class="btn btn-light border border-1 border-black" data-bs-toggle="modal" data-bs-target="#createStoryModal" th:text="#{label.add.stories}">
            Add Stories
        </button>

        <!-- Vote Duration Selection Button -->
        <button type="button" class="btn btn-light border border-1 border-black" data-bs-toggle="modal" data-bs-target="#voteDurationModal" th:text="#{label.select.vote.duration}">
            Select Vote Duration
        </button>

        <!-- Add Users Selection Button -->
        <button type="button" class="btn btn-light border border-1 border-black" data-bs-toggle="modal" data-bs-target="#userSearchModal" th:text="#{label.invite.users}">
            Add Users
        </button>
    </div>

    <!-- Is Anonymous Voting -->
    <div class="form-check form-switch text-white mb-2">
        <label class="form-check-label" for="isAnonymousVote" th:text="#{label.room.turn.on.anonymous.voting}">Enable anonymous voting?</label>
        <input class="form-check-input" type="checkbox"  role="switch" th:field="*{isAnonymousVoting}" id="isAnonymousVote">
        <small class="text-danger" th:if="${#fields.hasErrors('isAnonymousVoting')}" th:errors="*{isAnonymousVoting}"></small>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 float-end" style="width: 100%; padding: 10px; font-size: 1rem;" id="doneButton" th:text="#{label.done}" disabled>Done</button>

    <ul class="text-danger" th:if="${#fields.errors('*').size() > 0}">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
    </ul>

    <!-- Hidden message for no users found -->
    <div id="noUsersMessage" th:text="#{label.user.no.results}" style="display: none;"></div>

    <!-- Hidden message for remove button -->
    <div id="removeButtonText" th:text="#{label.remove}" style="display: none;"></div>

    <!-- Include the user search modal -->
    <th:block th:replace="~{fragments/user-search-modal :: user-search-modal}"></th:block>

    <!-- Include the vote duration modal -->
    <th:block th:replace="~{fragments/vote-duration-modal :: vote-duration-model}"></th:block>

    <!-- Include the creation story modal -->
    <th:block th:replace="~{fragments/create-story-modal :: create-story-modal}"></th:block>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include SockJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>

    <!-- Include Stomp.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <!-- User-Search.js -->
    <script th:src="@{/js/user-search.js}"></script>

    <!-- Set-Vote-Duration.js -->
    <script th:src="@{/js/set-vote-duration.js}"></script>

    <!-- Set-Create-Story-Modal.js -->
    <script th:src="@{/js/create-story-modal.js}"></script>

    <!-- Set-Room-Create-Validation -->
    <script th:src="@{/js/room-create-validation.js}"></script>
</form>