<!DOCTYPE html>
<html th:lang="${#locale.language}"
      th:xmllang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-dark navbar-dark" th:object="${room}">
    <div th:replace="~{layouts/header :: header}"></div>

    <input type="hidden" id="isCreator" th:value="${isCreator}"/>
    <input type="hidden" id="roomId" th:field="*{id}"/>
    <input type="hidden" id="eventId" th:field="*{event.id}"/>

    <!-- Hidden elements for localization -->
    <span id="currentStoryText" th:text="#{label.current.story}" style="display:none;"></span>
    <span id="noStorySelectedText" th:text="#{label.current.story.not.selected}" style="display:none;"></span>
    <span id="readStoryText" th:text="#{label.read.story}" style="display:none;"></span>
    <span id="confirmDeleteStory" th:text="#{label.confirm.delete}" style="display:none;"></span>
    <span id="userStatusPresenter" th:text="#{label.user.presenters}" style="display:none;"></span>
    <span id="userStatusElector" th:text="#{label.user.electors}" style="display:none;"></span>
    <span id="userStatusSpectator" th:text="#{label.user.spectators}" style="display:none;"></span>
    <span id="eventStarted" th:text="#{timer.event.started}" style="display:none;"></span>
    <span id="timeUntilStart" th:text="#{timer.time.until.start}" style="display:none;"></span>
    <span id="roomNameCannotBeEmpty" th:text="#{label.room.name.cannot.be.empty}" style="display:none;"></span>

    <div class="d-flex justify-content-center gap-4">
        <div class="text-light mt-3 ms-4 p4 pb-4 w-50">
            <h1>
                <span th:text="#{label.welcome.room}">Welcome to the room:</span>
                <span id="roomNameElement" th:text="*{roomName}">Room Name</span>
            </h1>
            <button class="btn btn-primary" id="btnChangeRoomName" th:if="${isCreator}" th:text="#{label.change.room.name}">Change Room Name</button>
        </div>

        <div class="text-light ms-4 mb-4 w-50" th:attr="data-start-time=${startTimeIso}">
            <h4 class="mt-3" th:text="#{label.start.date} + ': ' + ${#dates.format(room.startDate, 'EEEE dd MMMM yyyy')} + ' ' + #{label.at.clock} + ' ' + *{startTime}">
                Start Date
            </h4>
            <h4 class="mt-3" id="timer" th:text="#{timer.time.until.start}">Time until start: </h4>
        </div>
    </div>

    <!-- Current Story Section -->
    <div id="currentStorySection" class="text-light ms-4 mb-4">
        <h3 th:if="*{currentStory != null}" th:text="#{label.current.story} + ' ' + *{currentStory.title}">
            Current Story: <span th:text="*{currentStory.title}"></span>
        </h3>
        <h3 th:if="*{currentStory == null}" th:text="#{label.current.story.not.selected}">
            No story selected yet
        </h3>

        <a th:if="*{currentStory != null}" th:href="*{currentStory.storyLink}" class="text-info" th:text="#{label.read.story}" target="_blank">
            Read the story
        </a>
    </div>

    <div class="d-flex justify-content-center gap-4">

        <!-- Estimate Cards Section -->
        <section class="w-50 p-4 d-flex justify-content-center pb-4">
            <div th:replace="~{fragments/cards-form :: cards-form}"></div>
        </section>

        <!-- Invited Users Table Section -->
        <section class="w-50 p-4 float-end">
            <div th:replace="~{fragments/invited-users-table-form :: invited-users-table-form}"></div>

            <div id="messagesSection" class="container mt-4">
                <h3 class="text-light" th:text="#{label.messages}">Messages:</h3>
                <ul id="messagesList" class="list-group overflow-auto" style="max-height: 150px;">

                </ul>
            </div>
        </section>
    </div>

    <div>
        <table class="table table-dark table-striped table-bordered">
            <thead>
            <tr>
                <th th:text="#{label.story.title}">Title</th>
                <th th:text="#{label.story.link}">Link</th>
                <th th:text="#{label.actions}">Actions</th>
            </tr>
            </thead>
            <tbody id="story-list" th:each="story : *{stories}">
            <tr th:attr="data-story-id=${story.id}">
                <td th:text="${story.title}"></td>
                <td><a th:href="${story.storyLink}" th:text="${story.storyLink}" target="_blank"></a></td>
                <td>
                    <button class="btn btn-warning me-2" th:if="${isCreator}" id="buttonUpdateStory" th:attr="data-story-id=${story.id}">Update</button>
                    <button class="btn btn-danger me-2" th:if="${isCreator}" id="buttonDeleteStory" th:attr="data-story-id=${story.id}">Delete</button>
                    <button class="btn btn-success me-2" th:if="${isCreator}" id="buttonSetCurrentStory" th:attr="data-story-id=${story.id}">Set to current</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${isCreator}">
        <input type="hidden" id="storiesInput" />

        <button type="button" class="btn btn-primary border border-1 border-black float-end" data-bs-toggle="modal" data-bs-target="#createStoryModal" th:text="#{label.add.stories}">
            Add Stories
        </button>
    </div>

    <!-- Include the change room name modal -->
    <th:block th:replace="~{fragments/change-room-name-modal :: change-room-name-modal}"></th:block>

    <!-- Include the creation story modal -->
    <th:block th:replace="~{fragments/create-story-modal :: create-story-modal}"></th:block>

    <!-- Include the update story modal -->
    <th:block th:replace="~{fragments/update-story-modal :: update-story-modal}"></th:block>
</body>


    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include SockJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>

    <!-- Include Stomp.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <!-- Include Moment.js -->
    <script th:src="@{/webjars/moment/2.30.1/moment.js}"></script>

    <!-- WebSocket client -->
    <script type="module" th:src="@{/js/websocket-client.js}"></script>

    <!-- Change-Room-Name.js -->
    <script type="module" th:src="@{/js/change-room-name-modal.js}"></script>

    <!-- Select-Card.js -->
    <script type="module" th:src="@{/js/select-card.js}"></script>

    <!-- Show-Room.js -->
    <script type="module" th:src="@{/js/show-room.js}"></script>

    <!-- Story-Action.js -->
    <script type="module" th:src="@{/js/story-actions.js}"></script>

    <!-- Invited-Users-Table-Form.js -->
    <script type="module" th:src="@{/js/invited-users-table-form.js}"></script>

    <!-- Timer.js -->
    <script type="module" th:src="@{/js/timer.js}"></script>

</html>